.box{
    align-items: center;
    text-align: center;

}

.myform{
    margin-top: 50px;
    padding: 50px;
    border: 1px solid black;
    align-self: center;
    align-items: center;
    border-radius: 40px;

}

.fbt{
    text-align: center;
    align-items: center;
    align-self: center;
}